@model workshop_asp.Models.Product

@{
    ViewBag.Title = "ProductView";
}
<style type="text/css">
    body {
        color: black;
    }

    .box-img {
        max-width: 600px;
        height: 543px;
    }

        .box-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }

    .btn-add {
        border: 3px solid white;
        padding: 10px 10px;
        background: #383838;
        box-shadow: 10px 10px #383838;
        font-size: 20px;
        font-weight: 500;
        color: white;
    }

    .item-detail {
        padding: 10px 0;
    }

    .product_title h1 {
        font-size: 2.3rem;
    }

    .item-detail h1 {
        font-size: 2.3rem;
    }

    p.product_amount {
        font-size: 18px;
        font-weight: 500;
    }

    p.product_price {
        font-weight: 700;
    }

    h1.title {
        font-size: 2.2em;
    }

    #error-msg {
        display: none;
        color: red;
    }

    #soldout-msg {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        background: black;
        color: white;
        padding: 17px 10px;
        display: none;
    }
</style>

<div class="container">
    <div class="row mb-5 mt-5">
        <div class="col-sm-12 col-md-7 col-lg-7 d-flex flex-column justify-content-center">
            <div class="box-img">
                <img src="@Model.ImagePath" alt="">
                <input type="hidden" name="ImagePath" value="@Model.ImagePath" class="form-control" />
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 d-flex flex-column justify-content-center">
            <form asp-action="ProductView" method="post">
                <div class="form-group">
                    <input type="hidden" name="ProductId" value="@Model.ProductId" class="form-control" />
                </div>
                <div class="item-detail">
                    <h1 class="title">@Model.ProductName</h1>
                </div>
                <div class="item-detail">
                    <p>
                        @Model.ProductDetail
                    </p>
                </div>
                <div class="item-detail">
                    <p class="product_price">฿@Model.UnitPrice</p>
                    <input type="hidden" name="UnitPrice" value="@Model.UnitPrice" class="form-control" />
                    <p class="product_amount">Product in Stock: @Model.UnitsInStock</p>
                    <div class="form-group">
                        <input id="Qty" type="number" name="Qty" class="form-control" />
                    </div>
                    <span id="error-msg">ไม่สามารถออร์เดอร์สินค้าได้เนื่องจากกรอกจำนวณเกิน</span>
                    <p id="soldout-msg">Sold Out</p>
                </div>
                <div class="item-detail">
                    <button id="btnAdd" class="btn-add btn-block" type="submit">ADD TO CART</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        IsOutOffProduct();
        function IsOutOffProduct() {
            if (@Model.UnitsInStock == 0) {
                $('#soldout-msg').css({ "display": "block" });
                $('#btnAdd').css({ "display": "none" });
                $('#Qty').css({ "display": "none" });
            }
        }

        $('#Qty').bind('keyup mouseup', function (e) {
            if (e.target.value > @Model.UnitsInStock) {
                $('#btnAdd').attr("disabled", true);
                $('.btn-add').css({ "background": "#DDDDDD" });
                $('#error-msg').css({ "display": "block" });
            }
            else {
                $('#btnAdd').attr("disabled", false);
                $('.btn-add').css({ "background": "#383838" });
                $('#error-msg').css({ "display": "none" });

            }
        });
    </script>
}
